.featured-container{
    display: flex;
    margin-left: 15vw;
    margin-top: 15vh;
}

.featured-container > img{
    max-width: 80vw;
    max-height: 80vh;
    min-width: 70vw;
    width: auto;
    height: auto;

}
