
/* NAVBAR CSS */

.app-container{
    background-color: #d8d8d8;
}
nav {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);

}

a{
    text-decoration: none;
    color: #272727;
}

a:visited{
    text-decoration: none;
    color: #272727;
}

a:hover{
    text-decoration: none;
    color: #272727; 
}

a:active{
    text-decoration: none;
    color: #272727;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    max-width: 83px;
    max-height: 83px;
}

#create-account{
    color: white;
    background-color: #d84f53;
    border-radius: 3px;
    padding: 7px;
}

#create-account:hover{
    background-color: #dd2e33;
    border: 0;
}

#left-nav{
    justify-content: left;
    margin-left: 50px;
}

#middle-nav{
    margin-left: 100px;
}

#right-nav{
    margin-left: 100px;
}

.nav-element{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
    margin-right: 50px;
}

.middle-nav-element:hover{
    border-bottom: 2px solid #d84f53;
    color: #686868
}

.nav-element:hover{
    border-bottom: 2px solid #d84f53;
    color: #686868
}
/* NAVBAR CSS */


/* FEATURED CSS */
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.featured-container img{
    /* min-width: 60vw;
    min-height: 30vw; */

}
/* FEATURED CSS */

/* BEST SELLER CSS */

.best-seller-container{
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #d8d8d8;
}

.best-seller-container img{
    display: block;
    margin: auto;
}

.best-seller-description{
    text-align: center;
    color: #242424;
    justify-content: center;
    align-items: center;
}

.best-seller-img{
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
}

.item-name{
    font-size: larger;
    font-weight: 500;
}

.price{
    font-size: large;
    font-style: italic;
}

.add-cart{
    margin: auto;
    font-size: 18px;
    background-color:#d84f53;
    color: white;
    border-radius: 5px;
    max-width: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.best-seller-add-cart{
    color: white;
    font-size: 30px;
    padding: 10px;
    /* background-color: #4259C3; */
    border-radius: 10px;
}

/* BEST SELLER LIST CSS */

.best-seller-list-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
}

.best-seller-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BEST SELLER LIST CSS */


/* LOGIN PAGE CSS */

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.login-box{
    width: 400px;
    height: 325px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.8575;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);

}

.login-title{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    color: #242424;
}

.login-field-container{
    justify-content: center;
    align-items: center;
}

.login-field{
    width: 70%;
    height: 40px;
    padding: 10px;
}

.email-field-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.password-field-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.flex-label-login{
    display: flex;
    color: black;
}

.submit-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-login button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 25%;
    height: 35px;
    background-color: #d84f53;
    border: 0;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

.submit-login button:hover{
    background-color: #dd2e33;
    /* color: black; */
}
/* LOGIN PAGE CSS */