.catalogue-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    border-radius: 5px;

  }

.shop-item{
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .shop-item-image-container{
      display: flex;
      justify-content: center;
  }

#shop-item-image{
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
}

.catalogue-item-description p{
    text-align: center;
    margin: 2px;
}
