
/* NAVBAR CSS */




/* NAVBAR CSS */



/* SHOP FILTER CSS */

/* .shop-filter-container{
    display: inline-block;
    margin-top: 7vh;
}

.filter-box{
    margin-top: 75px;
    margin-left: 25vw;
    min-width: 20vw;
    min-height: 40vh;
    /* background-color: #4259C3; */


/* SHOP FILTER CSS */


